/* You can add global styles to this file, and also import other style files */
.glslCanvas {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.ant-layout,.ant-layout-footer,.ant-layout-header {
  background: transparent !important;
  background-color: transparent !important;
}
