import { Component } from '@angular/core';
import {
  NgFormsAioTheme,
  NgFormsAio,
  NgFormsAioOptions,
  NgFormsAioThemesList,
} from '@mylabz/ng-forms-aio';

@Component({
  selector: '<%= prefix %>-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.<%= style %>']
})
export class AppComponent {
  public themeSelected: NgFormsAioTheme = 'float-label-background-slide';
  public themeSelectForm: NgFormsAio = [
    {
      label: 'Theme',
      component: 'select',
      values: Object.keys(NgFormsAioThemesList).map((value, index) => {
        return { label: value, value: value };
      }),
    },
  ];

  public form: NgFormsAio = [
    {
      label: 'Title',
      component: 'select',
      values: [
        { value: 0, label: 'Mr' },
        { value: 1, label: 'Mrs' },
        { value: 2, label: 'Ms' },
      ],
      onChange: (value) => {
        console.log(value);
      },
      col: 'col-2',
    },
    {
      label: 'Name of the owner',
      component: 'input',
      value: '',
      required: true,
      onChange: (value) => {
        console.log(value);
      },
      col: 'col-12',
    },
    {
      label: 'Name your pet',
      component: 'input',
      value: '',
      required: true,
      onChange: (value) => {
        console.log(value);
      },
    },
    {
      label: 'My animal is a :',
      component: 'checkbox-list',
      required: true,
      values: [
        { value: 1, label: 'A Dog 🐶' },
        { value: 2, label: 'A Cat 🐱' },
      ],
    },
  ];

  public formOptions: NgFormsAioOptions = {
    debug: false,
    submitIfValid: true,
    submitLabel: 'Submit',
    displaySubmitBtn: true,
    invalidFeedBack: {
      input: ' is required ',
      'text-area': ' is required',
      checkbox: ' Select at least one element',
      'checkbox-list': ' Select at least one element',
      select: ' Select at least one element',
    },
    validFeedBackLabel: 'Form validated !',
    invalidFeedBackLabel: 'One or more fields have errors.',
  };

  public onSubmit(event: NgFormsAio) {
    console.warn('Form is submited !');
    console.log(event);
  }

  public onThemeselect(form: any) {
    console.warn(form);

    if (form?.value?.select.length > 0) this.themeSelected = form.value.select;
  }

  public onCreate(homeForms: any) {
    console.warn('Form is created !');
    console.log(homeForms);
  }
}
