.d-flex{
  display: flex !important;
}
.flex-row{
  flex-direction: row !important;
}
.flex-column{
  flex-direction: column !important;
}
.align-items-center{
  align-items: center !important;
}
.align-content-center{
  align-content: center !important;
}
.justify-items-center{
  justify-items: center !important;
}
.justify-content-center{
  justify-content: center !important;
}
