.d-flex{
  display: flex !important;
}
.align-items-center{
  align-items: center !important;
}
.align-content-center{
  align-content: center !important;
}
.justify-items-center{
  justify-items: center !important;
}
.justify-content-center{
  justify-content: center !important;
}
