.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}

.w-auto {
  width: auto !important;
}
.h-auto {
  height: auto !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}

.m-auto {
  margin: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.m-auto {
  margin: auto !important;
}

.pt-4 {
  padding-top: 4em !important;
}
.pt-2 {
  padding-top: 2em !important;
}
.pt-1 {
  padding-top: 1em !important;
}

.px-4 {
  padding-left: 4em !important;
  padding-right: 4em !important;
}
.px-2 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.px-1 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.p-4 {
  padding: 4em !important;
}
.p-2 {
  padding: 2em !important;
}
.p-1 {
  padding: 1em !important;
}
