::ng-deep .doc_wrap {
  .doc_markdown {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .markdown_anchor {
    border: none;
<<<<<<< HEAD
<<<<<<< HEAD
    font-weight: bold;
    font-size: 1.15rem;
=======
>>>>>>> :doc: : begin template for /doc/components/ | input doc | need to review import of components
=======
    font-weight: bold;
    font-size: 1.15rem;
>>>>>>> :doc: : full doc v1
  }

  .markdown_anchor_sigle {
    padding-left: 0.25em;
    opacity: 0;
    transform: 1s;
  }

  .markdown_anchor:hover {
    .markdown_anchor_sigle {
      opacity: 1;
    }
  }
}
