a::after {
  background: transparent;
}

.doc_sider {
  background: transparent;
}

.sider-menu {
  background: transparent;
  border: none;
  border-radius: 25px;
}

.sider_menu_item {
  font-size: 1.25rem;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
