<div
  class="inner-content fadeIn"
  *ngIf="!langChangeAnimation; else _langChangeAnimation"
>
  <div nz-row nzJustify="center" [nzGutter]="[24, 10]">
    <div
      nz-col
      class="
        gutter-row
        text-center
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
      [nzSpan]="12"
    >
      <p
        class="w-100"
        nz-typography
        [nzContent]="'intro.manage' | translate"
      ></p>
      <p nz-typography [nzContent]="'intro.dontWrite' | translate"></p>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="w-auto">
        {{ "intro.codeExemple.forms" | translate
        }}{{ translateService.getDefaultLang() }}

        <app-exemples
          _class="h-auto"
          [data]="previewTypescript[translateService.getDefaultLang()]"
          [options]="{
            lineNumbers: false,
            theme: 'idea _custom-codemirror-full',
            mode: 'htmlmixed',
            scrollbarStyle: null,
            readOnly: 'nocursor',
            fixedGutter: false,
            focus: false,
            blur: false,
            class: 'h-auto'
          }"
        ></app-exemples>
        <app-exemples
          _class="h-auto"
          [data]="previewTemplate[translateService.getDefaultLang()]"
          [options]="{
            lineNumbers: false,
            theme: 'idea _custom-codemirror-full',
            mode: 'htmlmixed',
            scrollbarStyle: null,
            readOnly: 'nocursor',
            fixedGutter: false
          }"
        ></app-exemples>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <app-intro [(form)]="multiLineForm"></app-intro>
  <nz-divider></nz-divider>
  <app-intro [form]="submitForm"></app-intro>
  <nz-divider></nz-divider>
  <app-intro [form]="submitForm"></app-intro>
  <nz-divider></nz-divider>
</div>

<ng-template #_langChangeAnimation>
  <div>hey lang is change</div>
</ng-template>
