<div class="inner-content pt-2 fadeIn" *ngIf="!langChangeAnimation; else _langChangeAnimation">
  <div nz-row nzJustify="center" [nzGutter]="[24, 10]">
    <div
      nz-col
      class="gutter-row text-center d-flex flex-column align-items-center justify-content-center px-2"
      [nzSpan]="12"
    >
      <div class="w-100 h-100 neumo-default-card">
        <div class="justify-self-start mb-auto">
          <p nz-typography [nzContent]="'intro.manage' | translate"></p>
          <p nz-typography [nzContent]="'intro.dontWrite' | translate"></p>
          <p nz-typography [nzContent]="'intro.tryExemple' | translate"></p>
        </div>

        <div class="home-exemple-form mb-auto">
          <ng-forms-aio [opts]="{ debug: false }" [forms]="animatedForm" (onSubmit)="onSubmit($event)"></ng-forms-aio>
        </div>
      </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="w-auto">
        <app-exemples
          _class="h-auto"
          [data]="previewTypescript[translateService.getDefaultLang()]"
          [options]="{
            lineNumbers: false,
            theme: 'idea _custom-codemirror-full',
            mode: 'htmlmixed',
            scrollbarStyle: null,
            readOnly: 'nocursor',
            fixedGutter: false,
            focus: false,
            blur: false,
            class: 'h-auto'
          }"
        ></app-exemples>
        <app-exemples
          _class="h-auto"
          [data]="previewTemplate[translateService.getDefaultLang()]"
          [options]="{
            lineNumbers: false,
            theme: 'idea _custom-codemirror-full',
            mode: 'htmlmixed',
            scrollbarStyle: null,
            readOnly: 'nocursor',
            fixedGutter: false,
            focus: false,
            blur: false,
            class: 'h-auto'
          }"
        ></app-exemples>
      </div>
    </div>
  </div>

  <div nz-row nzJustify="center" [nzGutter]="[24, 10]">
    <div nz-col class="d-flex flex-column align-items-center justify-content-center px-2" [nzSpan]="24">
      <app-features></app-features>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row nzJustify="center" [nzGutter]="[24, 10]">
    <div nz-col class="d-flex flex-column align-items-center justify-content-center px-2" [nzSpan]="24">
      <app-explanation></app-explanation>
    </div>
  </div>
  <nz-divider></nz-divider>
  <app-intro [(form)]="multiLineForm"></app-intro>
  <nz-divider></nz-divider>
</div>

<ng-template #_langChangeAnimation>
  <div>hey lang is change</div>
</ng-template>
