a::after {
  background: transparent;
}

.doc_sider {
  background: transparent;
}

.sider-menu {
  background: transparent;
  border: none;
  border-radius: 25px;
}

.sider_menu_item {
  font-size: 1.25rem;
}

<<<<<<< HEAD
.ant-menu-item {
  margin: 0 !important;
}

=======
>>>>>>> :doc: : full doc v1
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
