.doc_wrap ::ng-deep  {
  a::after {
    background: transparent;
  }
  a {
    color: black;
  }
}

.doc_sider {
  background: transparent;
}

.sider-menu {
  background: transparent;
  border: none;
  border-radius: 25px;
}

.sider_menu_item {
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.509);
}

.ant-menu-item {
  margin: 0 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
