<div nz-row [nzGutter]="[24, 10]" class="section">
  <div nz-col class="gutter-row w-100 text-center" nzJustify="center" [nzSpan]="24">
    <p class="_intro_title">{{ "EXEMPLES" | translate }}</p>
  </div>
  <div nz-col class="gutter-row d-flex flex-row w-100 align-items-center" nzJustify="center" [nzSpan]="12">
    <app-exemples
      class="w-100"
      [data]="form"
      [stringify]="true"
      (inputChange)="onChange('form', $event)"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript',
        viewportMargin: 23,
        readOnly: true
      }"
    ></app-exemples>
  </div>
  <div class="text-center gutter-row" nz-col nzJustify="center" [nzSpan]="12">
    <div nz-row>
      <div nz-col class="gutter-row" nzJustify="center" [nzSpan]="24">
        <ng-forms-aio
          [opts]="{ debug: false, displaySubmitBtn: false }"
          [forms]="themeSelectForm"
          [theme]="themeSelected"
          (onChange)="onThemeselect($event)"
          *ngIf="showForm"
        ></ng-forms-aio>
      </div>
      <div nz-col class="gutter-row" nzJustify="center" [nzSpan]="24">
        <ng-forms-aio
          [opts]="{ debug: false, displaySubmitBtn: false }"
          [forms]="form"
          [theme]="themeSelected"
          (onChange)="onOut('form', $event)"
          (onCreate)="onCreate($event)"
          *ngIf="showForm"
        ></ng-forms-aio>
      </div>
    </div>
  </div>
</div>
